:root {
    --good: #ff0;
    --bad: #f00;
    --norm: #fff;
}

body {
    font-family: sans-serif;
}

h1,
p {
    padding-left: 1rem;
}

.box {
    transform-origin: top;
    animation: goodness 5s, expand 5s;
    overflow: hidden;
    background-color: var(--norm);
}

.error {
    animation: badness 5s, expand 5s;
}

.name,
.hash {
    color: red;
    font-family: monospace;
    font-size: 120%;
}

#reports {
    display: flex;
    flex-direction: column-reverse;
}

.element {
}

@keyframes expand {
    0% {
        max-height: 0;
    }
    10% {
        max-height: 5em;
    }
    100% {
        max-height: 5em;
    }
}

@keyframes goodness {
    0% {
        background-color: var(--good);
    }
    5% {
        background-color: var(--good);
    }
    100% {
        background-color: var(--norm);
    }
}

@keyframes badness {
    0% {
        background-color: var(--bad);
    }
    5% {
        background-color: var(--bad);
    }
    100% {
        background-color: var(--norm);
    }
}
