body {
    font-family: sans-serif;
}

.box {
    max-height: 4em;
    animation: highlight 5s;
    overflow: hidden;
}

.name,
.hash {
    color: red;
    font-family: monospace;
    font-size: 120%;
}

#reports {
    display: contents;
}

.element {
}

@keyframes highlight {
    0% {
        max-height: 0em;
        background-color: #ff0;
    }
    5% {
        max-height: 4em;
        background-color: #ff0;
    }
    100% {
        max-height: 4em;
        background-color: #ffffff;
    }
}
